:root {
    --app-color-black: #000000;
    --app-color-white: #FFFFFF;
    --app-color-light-yellow: #FFF6E7;
    --app-color-light-green: #E5FFE6;
    --app-color-light-purple: #F3E4F7;
    --app-color-zinnwaldite: #EDBBB4;
    --app-color-gallery: #ECECEC;
    --app-color-emperor: #525252;
}