@import url('../src/app/assets/styles/variable.css');
@import url('../src/app/assets/styles/fonts/font.css');
@import url('../src/app/assets/styles/components/buttons/buttons.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: acme, ui-sans-serif;
}

a {
    text-decoration: none;
    color: var(--app-color-black);
}